<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title align="center">
      Courses
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content fullscreen>
      <!-- <ion-list-header>
        <ion-label>
          Single Selection
        </ion-label>
      </ion-list-header> -->
    
      <ion-item>
        <ion-label>Choose Course</ion-label>
         <ion-select interface="popover"  (ionChange)="onCourseChange($event)">
          <ion-select-option *ngFor="let item of coursesData;" value="{{ item.id }}">{{ item.fullname }}</ion-select-option>
        </ion-select>
      </ion-item>

  <ion-card *ngIf="chosenCourseFullName !== ''">
      <ion-icon name="book-outline" className="center-right" size="large"></ion-icon>
      <ion-card-header>
        <ion-card-title><div *ngIf="chosenCourseFullName !== ''">{{chosenCourseFullName}}</div></ion-card-title>
      </ion-card-header>
      <ion-card-content >
        <!-- <div *ngIf="$event.detail.value !== item.id " >{{item.summary}}</div> -->
        <div *ngIf="chosenCourseSummary !== ''">{{chosenCourseSummary}}</div>
      </ion-card-content>
    </ion-card>

    <div *ngIf="chosenCourseFullName !== ''">
    <ion-card *ngFor="let item of courseDetailsData; let i=index;">
      <ion-card-header>
        <ion-card-title>{{item.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content >
        {{ item.summary }}
        <ion-list *ngFor="let module of toArray(item.modules); let j=index;">
          <button ion-item (click)="onModuleClick(i,j)">
            <img [src]= 'module.modicon'/>
            {{ module.name }}
          </button>
          </ion-list>
      </ion-card-content>
    </ion-card>
    </div>
  
  </ion-content>