ion-card-header {
  position: relative;
}
.center-right {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  size: 10px;
}

button.activitybtn {
  --background: gray;
  --background-activated: red;
}
ion-icon.md.icon-large.hydrated {
  margin-left: 18px;
}
// ion-item.bigbluebuttonbn,
// ion-item.assign,
// ion-item.resource {
//   display: none;
// }
